.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
}

.form-item {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-item:last-child {
    margin-right: 0;
}

.form-lable {
    margin-bottom: 10px;
}

.submit-btn {
    padding: 6px 24px;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    cursor: pointer;
}
