.change {
    padding: 0;
}

.change input {
    width: 50px;
}

.action {
    padding: 0;
}

.action-btn {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: inherit;
}
